<div class="jumbotron">
  <h1 class="display-3 text-center">Plan-It</h1>
  <p class="text-center">Plan your next event without the hassle.</p>
  <hr class="my-4">
  <p class="fb-button text-center">
    <%= link_to "Sign in with facebook", '/users/auth/facebook', class: 'btn-primary btn-lg' %>
  </p>
</div>