
  <div class="jumbotron">
      <h1 class="text-center">PlanIt</h1>
      
          <h4 class="text-center">Welcome to PlanIt, <%= link_to current_user.name %>! </h4>


    </div>

<div class="row">
  <div class="col-sm-8">
  <h3>Upcoming Events</h3>
</div>
  </div>