<div class="row">
<div class="col-sm-8">
  <div class="jumbotron">
      <h1>PlanIt</h1>
      
          <h4>Welcome to PlanIt,  current_user.name! </h4>


    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
  <h3>Upcoming Events</h3>
</div>
  </div>